.container {
  background-image: url("../images/mjqualityservices-aboutus-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  /* display: grid;
    place-items: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  min-height: 90vh;
  /* padding: 100px 0; */
  margin: auto;
}

.containerContent {
  /* background-image: url("../images/mjqualityservices-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center; */
  /* position: relative;
    z-index: 10;
    width: 50%;
    margin: 40px auto; */
  /* height: 100vh;
    padding: 30px auto;
  
    z-index: 10;
    width: 60%; */
  /* margin: 100px auto; */
  /* height: 90vh;
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-template-rows: 500px 1fr; */
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 50px 1fr 50px;
  background: url("../images/mjqualityservices-bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 60vw;
  margin: 100px auto;
  /* justify-items: center; */

  height: 100%;
}

.content {
  grid-area: 2 / 2 / 3 / 3;
  /* opacity: 0.8; */
  height: 400px;
  /* background: pink;
    border: 3px solid lightgray; */
  width: 55%;
  margin: auto;
}

.content > h2 {
  margin: 1.5rem auto;
  line-height: 1.5rem;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

a {
  color: black;
}

@media screen and (max-width: 990px) {
  /* .containerContent {
      background-size: cover;
      margin: 120px auto;
    } */
  .content {
    width: 100%;
  }
}
@media screen and (max-width: 770px) {
  .containerContent {
    background-size: cover;
    margin: 120px auto;
  }
  .content {
    height: 300px;
  }

  h1,
  h2,
  h3,
  h4 {
    text-align: center;
    font-size: 85%;
  }

  .content > h2 {
    margin: 1rem auto;
    line-height: 1.5rem;
  }
  h3 {
    width: auto;
  }
}
