/* body, */
/* .container-bg {
  background-image: url("../images/mjqualityservices-6.png") repeat fixed center;
} */

.banner-title {
  margin: 0;
  color: white;
  text-transform: uppercase;
  border-bottom: 2px white solid;
}
.banner-title:hover {
  border-bottom: 2px var(--primary-color) solid;
}

.section-hero {
  height: 85vh;
}

/* .header {
 position: fixed;
  top: 0;
  left: 0; 
  display: flex;
  align-items: center;
  justify-content: space-between;
   width: 100%;
  height: 86px;
   background-color: #fff; 
  color: #333; 
   transform: translateY(0);
  transition: transform 0.3s ease;
} */

/* .header.shadow {
  /* box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13); */
/* } */

/* .header.hidden {
  /* transform: translateY(-110%); */
/* display: none; */
/* } */

/* sidebar */

/* .logo-mobile {
  display: none;
} */

.section-menu {
  display: flex;
}

.button-estimate {
  width: 100%;
  max-width: 25%;
  background: #009aa8;
  height: 60px;
  text-align: center;
  border-radius: 5px;
  font-size: 1.3rem;
  margin: 10px;
  padding: 14px 30px;
  color: white;
  padding-left: 17px;
  padding-right: 15px;
  background-color: hsl(67, 63%, 52%);
  border: none;
}
