:root {
  --primary-color: hsl(0, 100%, 0%);
  --accent-color: #bb287e;
  --background-color: hsl(67, 63%, 52%);

  /* --accent-color: hsl(325, 79%, 30%); */
}

body,
button,
input {
  color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: xx-large;
  font-weight: 600;
}
body,
.container-bg {
  background-image: url("../images/mjqualityservices-6.png") repeat fixed center;
}

.banner-title {
  margin: 0;
  color: white;
  text-transform: uppercase;
  border-bottom: 2px white solid;
}
.banner-title:hover {
  border-bottom: 2px var(--primary-color) solid;
}

.section-hero {
  height: 85vh;
}

.section-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-color);
}

.section-footer a {
  color: var(--primary-color);
}

.service-box {
  width: 250px;
  height: 250px;
  /* height: 350px; */
  background-color: var(--background-color);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;
  margin: 5px auto;
  text-align: center;
  border-radius: 50%;
}

/* .header {
 position: fixed;
  top: 0;
  left: 0; 
  display: flex;
  align-items: center;
  justify-content: space-between;
   width: 100%;
  height: 86px;
   background-color: #fff; 
  color: #333; 
   transform: translateY(0);
  transition: transform 0.3s ease;
} */

.header.shadow {
  /* box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13); */
}

.header.hidden {
  /* transform: translateY(-110%); */
  display: none;
}

/* sidebar */

.icon-menu {
  display: none;
  /* width: 5px;
  position: absolute;
  left: 10;
  top: 100;
  z-index: 20; */
}

.logo-mobile {
  display: none;
}

.section-menu {
  display: flex;
}

.sidebar {
  display: none;
  width: 100%;
  /* padding-top: 25px; */
  z-index: 300;
  background-image: url("../images/mj-background.png");
  /* transition: width 2s; */
  /* position: absolute; */
}

.sidebar-link {
  padding: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  /* font-size: 1rem; */
  /* padding: 0; */
  font-weight: 600;
  /* font-size: 1.1rem; */
}

.sidebar-link a {
  text-decoration: none;
  color: white;
}

.sidebar-link a:hover {
  color: var(--background-color);
}

.button-estimate {
  width: 100%;
  max-width: 25%;
  background: #009aa8;
  height: 60px;
  text-align: center;
  border-radius: 5px;
  font-size: 1.3rem;
  margin: 10px;
  padding: 14px 30px;
  color: white;
  padding-left: 17px;
  padding-right: 15px;
  background-color: hsl(67, 63%, 52%);
  border: none;
}

.animation-menu {
  animation-duration: 3s;
  animation-name: fademenu;
}

@keyframes fademenu {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 0.6;
  }
}

@media screen and (max-width: 790px) {
  .icon-menu {
    display: block;
    width: 5px;
    position: fixed;
    left: 10px;
    top: 11rem;
    z-index: 10;
    padding: 20px;
  }
  .section-menu {
    display: none;
  }
  .logo-mobile {
    display: flex;
    justify-content: flex-start;
  }
  .sidebar {
    display: block;
    position: relative;
    width: 250px;
    height: 250px;
    animation: animateSidebar 1s;
  }

  .button-estimate {
    font-size: 1rem;
    padding: 0;
  }
}

@keyframes animateSidebar {
  from {
    left: -250px;
    opacity: 0;
    width: 0;
  }
  to {
    width: 250px;
    left: 0;
    opacity: 1;
  }
}
